In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
def quote(soup):
    quotes = [i.text.strip() for i in soup.find_all('div', class_="quoteText")]
    authors = [i.text.strip() for i in soup.find_all('span', class_="authorOrTitle")]
    likes =  [i.text.split()[0] for i in soup.find_all('a', class_="smallText")]
    return (pd.DataFrame({'Author':authors, 'Quote':quotes, 'Likes':likes}))

In [3]:
stub = "https://www.goodreads.com/quotes/tag/success?page={}"

In [4]:
from tqdm import tqdm
import time

quoteData = []
for i in tqdm(range(1,51)):
    url = stub.format(i)
    html = requests.get(url).text
    time.sleep(2)
    soup = BeautifulSoup(html, 'html.parser')
    quoteData.append(quote(soup))

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [03:35<00:00,  4.30s/it]

In [5]:
data = pd.concat(quoteData, axis = 0)

In [6]:
data

,Author,Quote,Likes
0,Winston S. Churchill,"“Success is not final, failure is not fatal: i...",22267
1,"Bessie Anderson Stanley,","“He has achieved success who has lived well, l...",18682
2,Herbert Bayard Swope,“I can't give you a sure-fire formula for succ...,11223
3,W.C. Fields,"“If at first you don't succeed, try, try again...",7295
4,Albert Einstein,“Try not to become a man of success. Rather be...,6704
...,...,...,...
25,"Candace Bushnell,",“Why is it that everyone who’s had a baby acts...,0
26,"Candace Bushnell,",“You always think life is going to get easier ...,0
27,Cliff Hannold,“Stop dwelling in the past and worrying about ...,0
28,"A.D. Aliwat,",“Some habits just translate well to other unde...,0
29,"A.D. Aliwat,","“First an empress, then an empire.”\n ―\n ...",0