In [37]:
# The data was last updated on 6th August, 2021

In [1]:
import numpy as np
import pandas as pd
from selenium import webdriver
import requests
from bs4 import BeautifulSoup

In [20]:
browser = webdriver.Chrome()

In [21]:
url = 'https://www.olx.in/indore_g4058916/cars_c84'

In [22]:
browser.get(url)
browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [28]:
html = browser.page_source

In [29]:
soup = BeautifulSoup(html, 'html.parser')

In [33]:
def cars(soup):
    year = [i.text.strip().split(' -')[0] for i in soup.find_all('span', class_='_2TVI3')]
    km = [i.text.strip().split('- ')[1].split(' km')[0].replace(',', '') for i in soup.find_all('span', class_='_2TVI3')]
    price = [i.text.strip().split('₹ ')[1].replace(',', '') for i in soup.find_all('span', class_='_89yzn')]
    title = [i.text.strip().split(' ')[0] for i in soup.find_all('span', class_='_2tW1I')]
    title_full = [i.text.strip() for i in soup.find_all('span', class_='_2tW1I')]
    trans = []
    for i in soup.find_all('span', class_='_2tW1I'):
        if 'Petrol' in i.text.strip():
            trans.append('Petrol')
        else:
            trans.append('Diesel')
    return pd.DataFrame({'Title':title_full,
                         'Make':title, 
                         'Year':year,
                         'KM':km,
                         'Fuel Type':trans,
                         'Price':price})

In [34]:
df = cars(soup)

In [35]:
df

,Title,Make,Year,KM,Fuel Type,Price
0,"Mahindra Scorpio S4 Plus, 2017, Diesel",Mahindra,2017,57000,Diesel,951000
1,"Maruti Suzuki S Cross Zeta DDiS 200 SH, 2018, ...",Maruti,2018,37982,Diesel,950000
2,"Renault Fluence E4 D, 2012, Diesel",Renault,2012,99447,Diesel,365000
3,"Toyota Innova Crysta 2.8 ZX AT, 2018, Diesel",Toyota,2018,98000,Diesel,2000000
4,"Maruti Suzuki Alto K10 VXI, 2012, Petrol",Maruti,2012,66500,Petrol,230000
...,...,...,...,...,...,...
513,"Honda Brio 1.2 VX MT, 2017, Petrol",Honda,2017,34000,Petrol,399000
514,"Hyundai Grand i10 1.2 CRDi Magna, 2013, Diesel",Hyundai,2013,48000,Diesel,361000
515,"Mahindra Scorpio S11, 2019, Diesel",Mahindra,2019,51000,Diesel,1750000
516,"Skoda Rapid 1.5 TDI Active, 2012, Diesel",Skoda,2012,62000,Diesel,375000
517,"Chevrolet Beat Diesel LS, 2013, Diesel",Chevrolet,2013,46000,Diesel,194000

In [36]:
df.to_csv('OLX_Indore.csv')