In [7]:
import numpy as np
import pandas as pd
from selenium import webdriver
import requests
from bs4 import BeautifulSoup

import time

In [4]:
browser = webdriver.Chrome()

In [3]:
url = 'https://www.zomato.com/indore/dine-out'

In [56]:
browser.get(url)
time.sleep(10)

In [57]:
time.sleep(5)
browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [62]:
html = browser.page_source

In [63]:
soup = BeautifulSoup(html, 'html.parser')

In [64]:
def zomato(soup):
    name = [i.text.strip() for i in soup.find_all('h4', class_='sc-1hp8d8a-0 sc-ldcLGC cAJOya')]
    cuisine = [i.text.strip() for i in soup.find_all('p', class_='sc-1hez2tp-0 sc-hXhGGG iPEMLc')]
    area = [i.text.strip() for i in soup.find_all('p', class_='sc-1hez2tp-0 sc-hTQSVH gJqRzf')]
    rate = [i.text.strip() for i in soup.find_all('p', class_='sc-1hez2tp-0 sc-hXhGGG edfwAy')]
    
    return pd.DataFrame({'Name':name,
                         'Cuisine':cuisine, 
                         'Area':area,
                         'Rate for 2':rate,
                        })

In [65]:
df = zomato(soup)
df

,Name,Cuisine,Area,Rate for 2
0,House Of Malts,"North Indian, Chinese, Continental","Vijay Nagar, Indore","₹1,000 for two"
1,Chill Baby,"Chinese, North Indian, Pizza, Fast Food, Pasta...","Vijay Nagar, Indore",₹450 for two
2,Revolution Indore,"North Indian, Continental, Fast Food","Vijay Nagar, Indore","₹2,000 for two"
3,JAL - A Jungle Restaurant,"North Indian, Chinese, Mughlai, Beverages","Bhawar Kuan, Indore",₹850 for two
4,Bollywood Theka,"Finger Food, North Indian, Fast Food, Chinese","Infiniti Hotel, Vijay Nagar, Indore",₹900 for two
...,...,...,...,...
487,Holly Bolly Cafe,"Fast Food, Street Food, Beverages, Sandwich, P...","Mari Mata Square, Indore",₹300 for two
488,Jai Malhar Sandwich,"Sandwich, Pizza, Fast Food, Street Food","Rajwada, Indore",₹200 for two
489,Blanco Bakers & Coffee Shop,"Bakery, Desserts","Khajrana, Indore",₹250 for two
490,Cafe Midnight Terrace,"Fast Food, North Indian, Chinese, Beverages, P...","Annapurna Road, Indore",₹900 for two
491,Bana's Barbecue,"BBQ, Biryani","Vijay Nagar, Indore",₹250 for two